* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #710c19;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 500px;
}
section h2 {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  font-size: 10vw;
  font-size: 10vw;
  color: #fff;
  font-weight: 700;
}
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.banner .blocks {
  position: relative;
  display: block;
  width: 5vw;
  height: 5vh;
  animation: animate 2s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes animate {
  0% {
    transform: translateZ(2000px);
    background: url("./my.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(0px);
    background: url("./my.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
section.active .banner .blocks {
  animation: animateTwo 2s ease-in-out forwards;
  background: url("./my.jpeg");
  background-position: center;
  background-attachment: fixed;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: cover;
}
@keyframes animateTwo {
  0% {
    transform: translateZ(0px);
    background: url("./my.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  100% {
    transform: translateZ(2000px);
    background: url("./my.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  }
}
